body {
    margin: 0;
}

/* header */
/* #header {
    position: fixed;
    top: 0;
} */
/* nav */
#nav {
    background: white;
    border-bottom: 1px solid #333;
}
.icon {
    width: 30px;
    float: left;
    margin: 5px;
}
.name {
    margin: 9px 0px 9px 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 21px;
    font-weight: 00;
    float: left;
}
.nav {
    width: 24px;
    margin-top: 9px;
    margin-bottom: 6px;
    margin-right: 9px;
}
/* nav */
/* tabs */
#tabs {
    background: white;
}
.tabs {
    margin: 0px;
}
.tabs>li {
    padding-left: 0px;
}
.uk-tab::before {
    left: 0px;
}
/* tabs */
/* header */

/* footer */
#footer {
    background: white;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #ddd;
    width: 100%;
}
.media {
    width: 39px;
    margin: 6px 20px 6px 20px;
}
/* footer */